/* Alert.css */
.alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #888;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  z-index: 1001;
  padding: 1rem;
  min-width: 300px;
  max-width: 500px;
  text-align: center;
}

.alert-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-message {
  flex: 1;
  margin-left: 1rem;
}

.alert-close {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #aaa;
}

.alert-close:hover {
  color: #ff0000;
}
