.main-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px); /* Navbar 높이를 제외한 전체 화면 높이 */
  margin-top: -50px; /* 화면 중앙에서 위로 이동 */
}

.main-content {
  flex: 1; /* 메인 콘텐츠가 차지하는 공간을 유연하게 설정 */
  padding-top: 60px; /* Navbar 높이만큼 패딩 추가 */
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    #f0f0f0,
    #e0e0e0
  ); /* 배경에 그라데이션 추가 */
  display: flex;
  align-items: center;
  justify-content: center;
}
