/* 부모 요소에 적용  */
.log-container-back {
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  height: 100vh;
  background-color: white; /* 필요에 따라 배경색 설정 */
  padding-top: 5vh;
}

.log-main-container {
  flex: 1;
  justify-content: center;
  margin: 0 8vh 0 10vh;
  padding: 3% 4%;
  background-color: #eef3fe; /* #eef3fe */
  border-radius: 0.5rem;
  box-shadow: 0 0.8vh 1vh 0.3vh rgba(0, 0, 0, 0.1);
  height: 80vh;
  max-height: 80vh;
  overflow-y: hidden;
  box-sizing: border-box;
}

.log-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding-left: 8rem;
  padding-right: 8rem;
  flex-wrap: wrap; /* 반응형을 위한 flex-wrap 추가 */
}

.login-section,
.welcome-section {
  flex: 1;
  padding-bottom: 1.5rem;
  text-align: center;
  background-color: white;
  color: black;
  border: 0.7em double rgba(130, 130, 130, 0.32);
  border-radius: 1em;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  max-width: 48%;
  position: relative;
  margin-bottom: 9%;
}

.hidden {
  background-color: #001544;
  color: white;
}

.hidden * {
  visibility: hidden;
}

.hover-kingImage {
  width: 12rem;
  height: auto;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* box-shadow: 0 5px 5px 5px rgba(255, 255, 255, 0.3); */
}

.hidden .hover-kingImage {
  visibility: visible;
  /* opacity: 50%; */
}

.login-section.hovered,
.welcome-section.hovered {
  background-color: #001544;
  color: white;
  box-shadow: 0 0.8vh 1vh 0.6vh rgba(0, 0, 0, 0.2);
}

.welcome-section.hovered .welcome-text,
.login-section.hovered .welcome-text {
  display: none;
}

.heading-xl,
.hover-text {
  font-size: 2em;
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 3%;
}

.sns-text {
  margin-top: 8%;
  font-size: 1.3em;
}

.signup-link {
  color: #434d5b;
  font-size: 1.3em;
  text-decoration: none;
  margin-top: 3%;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15%;
  margin: 1%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.sns-icon {
  cursor: pointer;
}

.sns-icon img {
  width: 4.5em;
  height: 4.3em;
  border: 0.1em solid black;
  border-radius: 1em;
  overflow: hidden;
}

.ilban-inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 1%;
  width: 100%;
  max-width: 370px;
}

.input-fieldbox-container {
  width: 90%;
  max-width: 370px;
  display: flex;
  align-items: center;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
  background: white;
  padding: 0.8rem;
  margin: 2%;
}

.input-fieldbox {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.1rem;
  margin-left: 1rem;
  color: #434d5b;
}

.id-icon {
  font-size: 1.5rem; /* 아이콘 크기 */
  color: #434d5b; /* 아이콘 색상 */
  margin-right: 0.5rem; /* 아이콘과 입력 필드 사이의 간격 */
}

.password-icon {
  font-size: 1.5rem; /* 아이콘 크기 */
  color: #434d5b; /* 아이콘 색상 */
  margin-right: 0.5rem; /* 아이콘과 입력 필드 사이의 간격 */
}

.input-fieldbox:hover,
.input-fieldbox:focus {
  border: none;
  outline: none;
}

.checkbox-container {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  margin-bottom: 5%;
  width: 80%; /* 부모의 너비에 맞춤 */
  max-width: 350px;
}

.checkbox-container input {
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

.login-links {
  margin: 1% 0;
}

.login-links a {
  color: #434d5b;
  text-decoration: none;
  font-size: 1.2rem;
}

.login-links a:hover {
  text-decoration: underline;
}

.sign-in-btn,
.sign-up-btn {
  width: 100%;
  max-width: 370px;
  padding: 0.4rem;
  border: 0.1rem solid #9ca9c0;
  border-radius: 0.5rem;
  background: #dae4fb;
  color: #434d5b;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 1em;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.sign-in-btn:hover,
.sign-up-btn:hover {
  background: #3671f9;
  color: white;
  font-weight: normal;
}

.hover-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .log-inner-container {
    flex-direction: column;
    height: auto;
    padding: 2%;
    margin: 1%;
  }

  .login-section,
  .welcome-section {
    padding: 2%;
    margin: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .hover-content {
    justify-content: flex-start;
  }
}

.title-id a,
.title-pw a {
  color: grey;
  text-decoration: none;
}

.title-id a:visited,
.title-pw a:visited {
  color: red; /* 이전에 방문한 링크도 기본 색상으로 유지 */
}

.title-id:hover a,
.title-pw:hover a {
  color: rgba(9, 8, 59, 0.585);
}

.title-id:hover hr,
.title-pw:hover hr {
  border-color: rgba(9, 8, 59, 0.585);
}
