/* 부모 요소에 적용 */
.mymenubar-container {
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  height: 100vh;
  background-color: white; /* 필요에 따라 배경색 설정 */
  padding-top: 5vh;
}

/* 자식 요소에 적용 */
.mymenubar-title {
  flex: 1;
  justify-content: center;
  margin: 0 8vh 0 10vh; /* 좌우 마진 통합 */
  padding: 0 4vh; /* 좌우 패딩 통합 */
  background-color: #eef3fe;
  border-radius: 0.5vh;
  box-shadow: 0 0.8vh 1vh 0.3vh rgba(0, 0, 0, 0.1);
  height: 80vh;
  max-height: 80vh;
  overflow-y: scroll;
  box-sizing: border-box;
}

.mypagetitle {
  font-size: 4vh;
  font-weight: 800;
  margin: 1.5vh 0; /* 상하 마진 통합 */
  text-align: left;
}

.mypagetitle span {
  font-size: 2.5vh;
  margin-left: 1.5vh;
}
.mymenubar-title p {
  color: black;
  font-size: 2vh;
}

.usage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2vh;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  /* background-color: red; */
  height: 100%;
}

.usage-component1,
.usage-component2 {
  flex: 1;
  overflow-x: hidden;
  padding: 1vh;
  box-sizing: border-box;
  border: 0.2vh solid rgb(0, 55, 88, 0.3);
  border-radius: 1vh;
  font-size: 2vh; /* 폰트 크기를 뷰포트 높이에 따라 조정 */
  background-color: white;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 58vh;
}

.usage-component1 {
  margin-left: 0.8vh;
}

.usage-component2 {
  margin-right: 0.8vh;
}

/* 배율이 150% 이상일 때 (세로 배치로 변경) */
.high-zoom .usage-container {
  /* flex-direction: column; */
  align-items: stretch;
}

.high-zoom .vertical-line {
  display: none;
}

.high-zoom .usage-component1,
.high-zoom .usage-component2 {
  flex: 1;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2vh;
  overflow-y: auto;
  max-height: 100vh; /* 각 컴포넌트의 최대 높이를 45vh로 설정 */
}

.high-zoom .usage-component1 {
  margin-bottom: 2vh; /* 첫 번째 컴포넌트와 두 번째 컴포넌트 사이 간격 설정 */
}

.high-zoom .usage-component2 {
  margin-bottom: 0; /* 마지막 컴포넌트는 하단 마진 제거 */
}
/* 스크롤바 전체 영역 */
.mymenubar-title::-webkit-scrollbar {
  width: 12px;
}
