.main-fields-content > button,
.selected-fields-content > button,
.interest-types > button {
  border: 0.1px solid #cccccc; /* 기본 테두리 */
  background-color: #ffffff; /* 기본 배경색 흰색 */
  color: #000000; /* 기본 글자색 검은색 */
  height: 2.1rem; /* 버튼 높이 */
  cursor: pointer;
}

.main-fields-content > button:hover,
.selected-fields-content > button:hover,
.interest-types > button:hover {
  border: none;
  border: 0.1px solid #8282ff; /* 호버 시 테두리 색상 */
}

.main-fields-content button.selected,
.selected-fields-content button.selected,
.interest-types button.selected {
  border: none;
  border: 0.1px solid rgba(0, 0, 0, 0.363); /* 선택된 상태에서 테두리 색상 */
  background-color: #b4b4ff; /* 선택된 상태에서 배경색 */
  color: #1c2025; /* 선택된 상태에서 글자색 */
  font-weight: bold; /* 선택된 상태에서 글자 굵기 */
}

.myrecommend-container {
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  justify-content: center;
  align-items: center;
  margin: 0;
}

.myrecommend-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.2rem;
  padding-left: 1.1rem;
  padding-right: 0.5rem;
  padding-top: 1.1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  height: 47.7vh;
  width: 97%;
}

.myrecommend-inner-container h3 {
  font-size: 1.3rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-button {
  background-color: white;
  color: black;
  border: none;
  border: 0.1rem dotted #7a7a7a9c;
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.reset-button:hover {
  color: #ff0404;
  border: none;
  border: 0.1rem solid gray;
}

.recommend-selection-summary-first {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 5px auto;
  padding: 1rem;
  border: 0.1px dotted #9da8b7;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  width: 97%;
  height: 3.5vh;
  align-items: center;
}

.recommend-selection-summary-second {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 11px auto;
  padding: 1rem;
  border: 0.1px dotted #9da8b7;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  height: 5.7vh;
  align-items: center; /* 수직 정렬을 중앙으로 */
}

.summary-title-first,
.summary-title-second {
  font-weight: bold;
  flex-wrap: wrap;
  width: 10%;
}

.selected-fields-display-first {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.selected-fields-display-second {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.selected-field {
  padding: 0.3rem 0.5rem;
  border: 0.1px solid black;
  background-color: #b4b4ff;
  color: #1c2025;
  font-weight: bold;
  border-radius: 0.3rem;
}

.recommend-first-section {
  flex: 0 0 50%;
  margin-top: -0.05rem;
  overflow-x: hidden;
  padding: 0.7rem;
  box-sizing: border-box;
  border: 0.1px solid #9da8b7;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.recommend-second-section {
  flex: 0 0 27%;
  overflow-x: hidden;
  padding: 0.7rem;
  box-sizing: border-box;
  border: 0.1px solid #9da8b7;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.recommend-third-section {
  flex: 0 0 22%;
  flex-direction: column;
  margin-right: 0.6rem;
  margin-top: -0.05rem;
  overflow-x: hidden;
  padding: 0.7rem;
  box-sizing: border-box; /* 패딩 포함 */
  border: 0.1px solid #9da8b7;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  height: 47.5vh;
}

.recommend-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.main-fields {
  flex: 1;
  border: 0.5px solid #e5eaf2;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #d2d2ff36;
  height: 16vh;
}

.sub-fields {
  flex: 2;
  border: 0.5px solid #e5eaf2;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #d2d2ff36;
  height: 16vh;
}

.main-fields hr,
.sub-fields hr {
  border: none; /* 기본 테두리 제거 */
  border-top: 0.1px solid #c8c8ff; /* 원하는 색상으로 테두리 추가 */
}

.main-field-title,
.selected-fields-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.main-fields-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  height: 20vh;
  align-content: flex-start;
}

.selected-fields-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  height: 15vh;
  align-content: flex-start;
}

.interest-types {
  flex: 1;
  border: 0.5px solid #e5eaf2;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #d2d2ff36;
  height: 14vh;
}
.interest-types > * {
  margin: 0.1rem;
}

.additional-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.info-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.4rem;
}

.info-item label {
  font-weight: bold;
}

.info-item select {
  padding: 0.4rem;
  border: 0.1px solid #cccccc;
  border-radius: 0.5rem;
}

@media (max-width: 1500px) {
  .myrecommend-container {
    flex-direction: column;
    align-items: stretch;
    width: 95%;
  }

  .recommend-first-section,
  .recommend-second-section,
  .recommend-third-section {
    flex: 0 0 auto;
  }
}
