.myrecommend-container {
  flex: 1;
  justify-content: center;
  margin: 0 0.67rem;
  flex-direction: row;
  position: relative;
}

.myrecommend-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  height: 86%;
  width: 100%;
  padding: 0 0.1rem;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}

.myrecommend-inner-container h3 {
  font-size: 1.3rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-button {
  background-color: white;
  color: black;
  border: none;
  border: 0.1rem dotted #7a7a7a9c;
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;
}

.reset-button:hover {
  color: #ff0404;
  border: none;
  border: 0.1rem solid gray;
}

.recommend-selection-summary-first {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* margin-top: 0.3rem; */
  padding: 1rem;
  border: 0.1px dotted #9da8b7;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  width: 97%;
  height: 5vh;
  align-items: center;
}

.recommend-selection-summary-second {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  margin-top: 0.5rem;
  padding: 1rem;
  border: 0.1px dotted #9da8b7;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  height: 5vh;
  align-items: center; /* 수직 정렬을 중앙으로 */
}

.summary-title-first,
.summary-title-second {
  font-weight: bold;
  flex-wrap: wrap;
  width: 4.5vh;
}

.selected-fields-display-first {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.selected-fields-display-second {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.selected-field {
  padding: 0.2rem 0.5rem;
  background-color: #b4b4ff;
  color: white;
  font-size: 1rem;
  border-radius: 0.3rem;
  background-color: #003658d6;
}

.recommend-first-section {
  flex: 0 0 45%;
  margin-top: -0.05rem;
  overflow-x: hidden;
  padding: 0.7rem;
  box-sizing: border-box;
  border: 0.1px solid #9da8b7;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.recommend-second-section {
  flex: 0 0 35%;
  overflow-x: hidden;
  padding: 0.7rem;
  box-sizing: border-box;
  border: 0.1px solid #9da8b7;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.recommend-third-section {
  flex: 0 0 18%;
  flex-direction: column;
  margin-right: 0.6rem;
  margin-top: -0.05rem;
  overflow-x: hidden;
  padding: 0.7rem;
  box-sizing: border-box; /* 패딩 포함 */
  border: 0.1px solid #9da8b7;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.recommend-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.main-fields {
  flex: 1;
  border: 0.1rem solid #e5eaf2;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #d2d2ff36;
  height: 19vh;
  overflow-y: hidden;
}

.sub-fields {
  flex: 2;
  border: 0.1rem solid #e5eaf2;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #d2d2ff36;
  height: 19vh;
  overflow-y: hidden;
}

.main-fields hr,
.sub-fields hr {
  border: none; /* 기본 테두리 제거 */
  border-top: 0.1px solid #c8c8ff; /* 원하는 색상으로 테두리 추가 */
}

.main-field-title,
.selected-fields-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.main-fields-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  align-content: flex-start;
}

.selected-fields-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  height: 15vh;
  align-content: flex-start;
}

.interest-types {
  flex: 1;
  border: 0.5px solid #e5eaf2;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #d2d2ff36;
  height: 19vh;
}
.interest-types > * {
  margin: 0.1rem;
}

.additional-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.info-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.4rem;
}

.info-item label {
  font-weight: bold;
}

.info-item select {
  padding: 0.4rem;
  border: 0.1px solid #cccccc;
  border-radius: 0.5rem;
}

.main-fields-content > button,
.selected-fields-content > button,
.interest-types > button {
  border: 0.1px solid #cccccc;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 0.1rem 0.8rem;
  font-size: 1rem;
}

.main-fields-content > button:hover,
.selected-fields-content > button:hover,
.interest-types > button:hover {
  border: none;
  border: 0.1px solid #4c81fe; /* 호버 시 테두리 색상 */
}

.main-fields-content button.selected,
.selected-fields-content button.selected,
.interest-types button.selected {
  border: none;
  border: 0.1px solid rgba(0, 0, 0, 0.363);
  background-color: #0037581a;
  color: #1c2025;
  font-weight: bold;
}

.additional-info-select {
  font-size: 16px; /* 원하는 글자 크기로 변경 */
}

.reco-submit-button {
  border: 0.1px solid rgba(0, 0, 0, 0.363);
  border-radius: 0.5rem;
  position: absolute;
  right: 0.1rem;
  bottom: 1px; /* 하단에서 20px 떨어지게 설정 */
  padding: 10px 20px; /* 버튼 내부 여백 */
  background-color: #f0f0f0; /* 버튼 배경색 (필요에 따라 변경) */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}
.reco-submit-button:hover {
  border: 0.1px solid rgba(0, 0, 0, 0.363);
  border-radius: 0.5rem;
  position: absolute;
  right: 0.1rem;
  bottom: 1px;
  padding: 10px 20px;
  background-color: #003758;
  color: white;
  cursor: pointer;
}

/* 미디어 쿼리: 화면 배율이 150% 이상일 때 세로로 나열 */
@media (min-resolution: 144dpi) {
  .myrecommend-inner-container {
    flex-direction: column;
  }

  .recommend-first-section,
  .recommend-second-section,
  .recommend-third-section {
    flex: 0 0 auto;
    margin: auto;
    width: 80%;
  }

  @media (max-width: 1500px) {
    .myrecommend-container {
      flex-direction: column;
      align-items: stretch;
      width: 95%;
      overflow-y: scroll;
    }

    .recommend-first-section,
    .recommend-second-section,
    .recommend-third-section {
      flex: 0 0 auto;
    }
  }
}

.selected-field {
  cursor: pointer;
}
