.mysymhis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 96.4%;
}

.mysymhis-inner-container {
  width: 100%;
  overflow-x: hidden;
  padding: 0.7rem;
  box-sizing: border-box;
  border: 1px solid #9da8b7;
  border-radius: 0.5rem;
  height: 47.5vh;
  font-size: 0.8rem;
}

.favorites-list {
  width: 98%;
}

.favorites-list-title h3 {
  font-size: 1.2rem;
  padding-left: 20px;
}

.favorites-list-title hr {
  border: none;
  border-top: 0.1rem solid #b0b8c4;
  width: 98%;
  margin: auto;
}

.favorites-list ul {
  list-style: none;
  padding-left: 20px;
  font-size: 0.9rem;
}

.favorites-list .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.favorites-list .list-item:last-child {
  border-bottom: none;
}

.favorites-list .star-icon {
  font-size: 1.5rem; /* 아이콘 크기 */
  margin-left: 1rem;
  cursor: pointer;
  border: 0.1rem solid transparent; /* 기본 테두리 (보이지 않음) */
  border-radius: 0.2rem; /* 테두리 반경 */
}

.favorites-list .star-icon.active {
  color: #6464ff;
}

.star-icon {
  cursor: pointer;
  color: #ccc;
  font-size: 1.5rem; /* 아이콘 크기 조정 */
}
