.usage-search {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.usage-search-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usage-search-title h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.usage-search-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  max-height: 400px; /* 컨텐츠 영역의 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 허용 */
  border-radius: 0.5rem;
}

.search-history-table {
  width: 100%;
  border-collapse: collapse;
  height: 100%;
  font-size: 1rem;
}

.search-history-thead th,
.search-history-td {
  padding: 0.15rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.search-history-thead th {
  background-color: #0037581a;
}

.search-history-th:nth-child(1) {
  width: 10%;
}

.search-history-th:nth-child(2) {
  width: 60%;
}

.search-history-th:nth-child(3) {
  width: 30%;
}

.search-history-td {
  height: 1.5rem;
}

.search-history-td {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 넘치는 부분을 "..."으로 표시 */
}

/* Pagination styles */
.mysearch-pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  color: #007bff;
}

.pagination li.active {
  font-weight: bold;
  color: #0056b3;
}

.pagination li a {
  text-decoration: none;
  color: inherit;
}

.pagination li a:hover {
  text-decoration: underline;
}

/* Additional styles for better visualization */
.search-history-tr:hover {
  background-color: #f1f1f1;
}

.search-history-tr-empty-row td {
  background-color: #f9f9f9;
}
