.usage-search {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.usage-search-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usage-search-title h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.usage-search-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  /* overflow-y: auto; */
  max-height: 400px;
}

.search-history-table {
  width: 100%;
  border-collapse: collapse;
  height: 100%;
  font-size: 1rem;
}

.search-history-thead th,
.search-history-td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.search-history-thead th {
  background-color: #0037581a;
}

.search-history-th:nth-child(1) {
  width: 10%;
}

.search-history-th:nth-child(2) {
  width: 60%;
}

.search-history-th:nth-child(3) {
  width: 30%;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem; /* 위쪽에 여백 추가 */
  margin-bottom: 1rem; /* 아래쪽에 여백 추가 */
}
/* 
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 0.25rem;
}

.pagination li a {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.pagination li a.active,
.pagination li a:hover {
  background-color: #003758e6;
  color: #fff;
}

.pagination li a.disabled {
  background-color: #ddd;
  cursor: not-allowed;
} */

/* MyUsageSearch.css */

.search-history-td {
  height: 1.5rem;
}

.search-history-td {
  max-width: 200px; /* 적절한 최대 너비 설정 */
  white-space: nowrap; /* 텍스트를 한 줄로 유지 */
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  text-overflow: ellipsis; /* 넘치는 부분을 "..."으로 표시 */
}
