.navbar {
  position: fixed; /* 상단에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 25px; /* 세로 패딩 값을 20px로 증가 */
  background-color: white !important; /* 배경 색상 강제 적용 */
  border-bottom: 3px #6a11cb; /* 투명한 border-bottom */
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  z-index: 1000; /* 다른 요소들보다 앞에 위치 */
  box-sizing: border-box; /* 패딩과 경계 포함 */
}

.navbar-left {
  display: flex;
  gap: 20px;
}

.navbar-left a {
  text-decoration: none;
  color: #646cff !important; /* 링크 색상 */
  font-size: 16px;
  font-weight: bold; /* 링크 텍스트를 진하게 설정 */
  font-family: "Noto Sans KR", sans-serif; /* 폰트 패밀리 설정 */
  padding: 0.6em 1.2em;
  background-color: white;
  border-radius: 25px;
  border: 1px solid transparent;
  transition:
    border-color 0.25s,
    background-color 0.25s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left a:hover {
  color: #535bf2 !important;
  border-color: #646cff;
  background-color: #f0f0f0;
}
