.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  list-style: none;
  padding: 0;
  margin-bottom: 32px; /* Footer바에 달라붙어서 추가함 */
}

.pagination li {
  display: inline-block;
  margin: 0 0.25rem;
}

.pagination a {
  padding: 0.4rem 0.8rem;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.pagination .active a {
  background-color: #d2d2ff56;
  color: #a0a0ff;
  border-color: #7878ff;
}

.pagination a:hover {
  background-color: #7878ff;
  color: #fff;
}

.pagination a:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
