@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"); /* Noto Sans KR 폰트 임포트 */

body {
  font-family: "Noto Sans KR", sans-serif;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.search-button {
  margin-left: 10px;
}

.result-summary {
  margin: 20px 0;
}

.result-options {
  margin: 10px 0;
}

.search-result {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.result-title {
  font-weight: bold;
}

.result-description,
.result-date,
.result-type {
  margin-top: 5px;
}

.neon-tab {
  color: #666; /* 기본 텍스트 색상 */
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold; /* 볼드체 적용 */
  transition:
    color 0.3s,
    background 0.3s; /* 색상 변화에 대한 트랜지션 추가 */
  margin: 0 2px; /* 탭 간격을 줄이기 위해 마진 조정 */
  font-family: "Noto Sans KR", sans-serif; /* 폰트 적용 */
}

.neon-tab:hover,
.MuiTab-root.Mui-selected {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #6a1b9a; /* 호버 및 선택된 탭의 텍스트 색상 변경 */
  background: linear-gradient(
    145deg,
    #e0d4f0,
    #f0e4ff
  ); /* 호버 및 선택된 탭의 배경 색상 변경 */
}

.MuiTab-root.Mui-selected {
  background: linear-gradient(
    145deg,
    #d3c4e8,
    #e1d1ff
  ); /* 선택된 탭 배경 색상 */
  box-shadow: 0 4px 15px rgba(171, 71, 188, 0.75); /* 선택된 탭 그림자 효과 */
  color: #6a1b9a; /* 선택된 탭 텍스트 색상 */
}

/* Center align the Tabs container */
.MuiTabs-flexContainer {
  justify-content: center;
}
