.pw-container-main {
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  height: 100vh;
  background-color: white; /* 필요에 따라 배경색 설정 */
  padding-top: 5vh;
}

.pw-inner-container-main {
  flex: 1;
  justify-content: center;
  margin: 0 8vh 0 10vh;
  padding: 0 4vh;
  background-color: #eef3fe;
  border-radius: 0.3125rem;
  box-shadow: 0 0.5rem 0.625rem 0.1875rem rgba(0, 0, 0, 0.1);
  max-height: 80vh;
  box-sizing: border-box;
}

.pw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3%;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem 0.3rem rgba(0, 0, 0, 0.1);
  padding: 7rem 0;
  padding-left: 23%;
  padding-right: 23%;
  background-color: white;
  max-height: 40vh;
  overflow: hidden;
}

.pw-title {
  width: 100%;
  margin-bottom: 5vh;
  text-align: center;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0 10vh;
}

.pw-title-id a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  background-color: #d3d3d394;
  padding: 0.5rem;
  width: 98%;
  border-radius: 0.5rem;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%); /* 사다리꼴 모양 */
  display: inline-block; /* 필요한 경우 요소를 inline-block으로 설정 */
}

.pw-title-pw a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  background-color: #aac5ffc0;
  padding: 0.5rem;
  width: 98%;
  border-radius: 0.5rem;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%); /* 사다리꼴 모양 */
  display: inline-block; /* 필요한 경우 요소를 inline-block으로 설정 */
}

.pw-title-id hr,
.pw-title-pw hr {
  border: 0.0625rem solid rgba(0, 0, 0, 0.303);
  border-radius: 10rem;
}

.pw-title-id,
.pw-title-pw {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
}

.pw-title-id:hover a,
.pw-title-pw:hover a {
  color: rgb(255, 255, 255);
  background-color: #002374;
}

.pw-input-boxes {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 80%;
  max-width: 62.5rem;
  margin-bottom: 5vh;
  padding: 1rem;
}

.pw-nickname-box,
.pw-email-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
}

.pw-input-field {
  flex: 1;
  padding: 0.8125rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-top: 0.625rem;
  box-sizing: border-box;
  margin-left: 0.9375rem;
  font-size: 1.1rem;
}

.pw-btns {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.5rem;
  max-width: 62.5rem;
}

.pw-next-button,
.pw-login-button {
  width: 100%;
  padding: 0.625rem 3vw;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.pw-next-button {
  color: #005614;
  border: 0.00625rem solid #017c1e67;
}

.pw-next-button:hover {
  background-color: #218838;
  border: none;
  color: white;
}

.pw-login-button {
  color: #007bff;
  border: 0.00625rem solid #007bff6c;
}

.pw-login-button:hover {
  background-color: #0056b3;
  color: white;
}

.pw-required {
  color: red;
  margin-left: 0.25rem;
}
