.sns-signup-container {
  text-align: center;
  padding-bottom: 1rem;
}

.sns-signup-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sns-signup-description {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #555;
}

.sns-signup-icons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sns-signup-sns-icon {
  width: 60px; /* 아이콘 크기 조정 */
  height: 60px;
  cursor: pointer;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
}

.sns-signup-close {
  background-color: #f0f0f0;
  border: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.411);
  padding: 0.5rem 2rem;

  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.sns-signup-close:hover {
  background-color: #e0e0e0;
}
